<table class="user-list">
  <thead>
  <tr>
    <th> First Name</th>
    <th> Last Name</th>
    <th> Type</th>
    <th> Email</th>
    <th> Password</th>
    <th> Is Active</th>
    <th>
      <app-button (click)="add()" background="blue" title="Add" image="assets/add.svg"></app-button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let m of userList; let i = index">
    <td> {{ m.firstName }}</td>
    <td> {{ m.lastName }}</td>
    <td> {{ m.type }}</td>
    <td> {{ m.email }}</td>
    <td> {{ m.password }}</td>
    <td> {{ m.isActive }}</td>
    <td>
      <app-button (click)="edit(m)" background="yellow" color="black" title="Edit" image="assets/edit.svg"></app-button>
    </td>
  </tr>
  </tbody>
</table>

<div class="modal hidden" #modal>
  <div class="modal-content">
    <form [formGroup]="userForm">
      <table>
        <tr>
          <td>First Name:</td>
          <td><input type="text" formControlName="firstName"></td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td><input type="text" formControlName="lastName"></td>
        </tr>
        <tr>
          <td>Type:</td>
          <td><select formControlName="type">
            <option></option>
            <option> {{ userType.Manager }} </option>
            <option> {{ userType.Machanic }} </option>
          </select></td>
        </tr>
        <tr *ngIf="userForm.value['type'] == userType.Manager">
          <td>E-mail:</td>
          <td><input #email type="email" formControlName="email" email="true"></td>
        </tr>
        <tr *ngIf="userForm.value['type'] == userType.Machanic">
          <td>Password:</td>
          <td><input #password type="text" formControlName="password"
                     (keypress)="passwordCheck($event)" minlength="4" maxlength="4"></td>
        </tr>
        <tr>
          <td>Is active:</td>
          <td><input type="checkbox" formControlName="isActive"></td>
        </tr>
      </table>

      <div class="actions">
        <app-button (click)="save()" background="green" title="Save" image="assets/accept.svg"></app-button>
        <app-button (click)="cancel()" background="darkred" title="Cancel" image="assets/cancel.svg"></app-button>
      </div>
    </form>
  </div>
</div>
