<table class="user-list">
  <thead>
  <tr>
    <th> {{ local.getString('First_Name') }} </th>
    <th> {{ local.getString('Last_Name') }} </th>
    <th> {{ local.getString('Type') }} </th>
    <th> {{ local.getString('Email') }} </th>
    <th> {{ local.getString('Password') }} </th>
    <th> {{ local.getString('Is_Active') }} </th>
    <th>
      <app-button (click)="add()" background="blue" [title]="local.getString('Add')"  clazz="button extended-button"  image="assets/add.svg"></app-button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let m of userList; let i = index">
    <td> {{ m.firstName }}</td>
    <td> {{ m.lastName }}</td>
    <td> {{ local.getString(m.type) }} </td>
    <td> {{ m.email }}</td>
    <td> {{ m.password }}</td>
    <td> {{ m.isActive }}</td>
    <td>
      <app-button (click)="edit(m)" background="yellow" color="black" [title]="local.getString('Edit')"  clazz="button extended-button"  image="assets/edit.svg"></app-button>
    </td>
  </tr>
  </tbody>
</table>

<div class="modal hidden" #modal>
  <div class="modal-content">
    <form [formGroup]="userForm">
      <table>
        <tr>
          <td>{{ local.getString('First_Name') }}:</td>
          <td><input type="text" formControlName="firstName"></td>
        </tr>
        <tr>
          <td>{{ local.getString('Last_Name') }}:</td>
          <td><input type="text" formControlName="lastName"></td>
        </tr>
        <tr>
          <td>{{ local.getString('Type') }}:</td>
          <td><select formControlName="type">
            <option></option>
            <option [value]="userType.Manager"> {{ local.getString(userType.Manager) }} </option>
            <option [value]="userType.Machanic"> {{ local.getString(userType.Machanic) }} </option>
          </select></td>
        </tr>
        <tr *ngIf="userForm.value['type'] == userType.Manager">
          <td>{{ local.getString('Email') }}:</td>
          <td><input #email type="email" formControlName="email" email="true"></td>
        </tr>
        <tr *ngIf="userForm.value['type'] == userType.Machanic">
          <td>{{ local.getString('Password') }}:</td>
          <td><input #password type="text" formControlName="password"
                     (keypress)="passwordCheck($event)" minlength="4" maxlength="4"></td>
        </tr>
        <tr>
          <td>{{ local.getString('Is_Active') }}:</td>
          <td><input type="checkbox" formControlName="isActive"></td>
        </tr>
      </table>

      <div class="actions">
        <app-button (click)="save()" background="green" clazz="button extended-button" [title]="local.getString('Save')" image="assets/accept.svg"></app-button>
        <app-button (click)="cancel()" background="darkred" clazz="button extended-button" [title]="local.getString('Cancel')" image="assets/cancel.svg"></app-button>
      </div>
    </form>
  </div>
</div>
