<tr>
    <td rowspan="2">::firstname</td>
    <td rowspan="2">::lastname</td>
    <td>::saturday_start</td>
    <td>::saturday_end</td>
    <td>::sunday_start</td>
    <td>::sunday_end</td>
    <td>::monday_start</td>
    <td>::monday_end</td>
    <td>::tuesday_start</td>
    <td>::tuesday_end</td>
    <td>::wednesday_start</td>
    <td>::wednesday_end</td>
    <td>::thursday_start</td>
    <td>::thursday_end</td>
    <td>::friday_start</td>
    <td>::friday_end</td>
    <td rowspan="2" style="background: #bbb">::row_total</td>
</tr>
<tr class="shallow">
    <td colspan="2">::saturday_total</td>
    <td colspan="2">::sunday_total</td>
    <td colspan="2">::monday_total</td>
    <td colspan="2">::tuesday_total</td>
    <td colspan="2">::wednesday_total</td>
    <td colspan="2">::thursday_total</td>
    <td colspan="2">::friday_total</td>
</tr>
