<table class="history-table">
  <thead>
    <tr>
      <th>Current</th>
      <th>Manual</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ng-container *ngFor="let userHistory of usersHistory" class="observer">
          <div [ngClass]="['userInfo', color(userHistory[1])]">
            {{ userHistory[0].firstName }} {{ userHistory[0].lastName }}
          </div>
        </ng-container>
      </td>
      <td>
        <table class="user-table">
          <thead>
          <tr>
            <th>Mechanic</th>
            <th>When Action Occurs</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let userHistory of usersHistory" class="user-rows">
              <td>{{ userHistory[0].firstName }} {{ userHistory[0].lastName }}</td>
              <td> <input style="width: 100%; font-size: 18px; " [attr.name]="userHistory[0].id" type="datetime-local"> </td>
              <td style="justify-content: center; display: flex; flex-direction: row">
                <app-button  (click)="logIn(userHistory[0])" background="green" title="Login" image="assets/accept.svg" style="margin-right: 5px"></app-button>
                <app-button  (click)="logOut(userHistory[0])" background="darkred" title="Logout" image="assets/delete.svg" style="margin-right: 5px"></app-button>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>


