.history-table {
  flex: 1;
  table-layout: fixed;
  width: 100%;
}

.absent{
  background: yellow;
  color: black;
}

.late{
  background: darkred;
  color: white;
}

.in-time{
  background: green;
  color: white;
}

.userInfo{
  margin: 5px;
  height: 100%;
  font-size: 22px;
  position: relative;
  display: flex;
}

.notifyer .button{
  width: 22px;
  position: relative;
  border-radius: 5px;
}

.disabled{
  pointer-events: none;
  filter: grayscale(100);
}

.button img{
  height: 22px;
}

.user-table{
  width: 100%;
  table-layout: fixed;
}

.user-table th{
  font-size: 16px;
}

td{
  /*height: 40px;*/
  font-size: 22px;
  height: 44px;
}

.history-table tr:last-of-type td{
  height: max-content;
  vertical-align: top;
}
