<div style="display: flex; flex-direction: row; align-items: center">
  <div style="display: inline-block; margin: 5px">
    <app-button (click)="logOutAll()" background="blue" [title]="local.getString('Log_Out_All')" clazz="button extended-button"></app-button>
  </div>
  <input #logOutAllInput type="date">
</div>

<table class="history-table">
  <thead>
  <!--tr>
    <th rowspan="2" style="width: 50%">Current</th>
    <th colspan="5" style="width: 50%">Manual</th>
  </tr>
  <tr>
    <th>When Action Occurs</th>
    <th colspan="3">Action</th>
    <th>User History</th>
  </tr-->
  </thead>
  <tbody>

  <ng-container *ngFor="let userHistory of usersHistory; let i = index">
    <tr>
      <td [ngClass]="[color(userHistory[1])]" colspan="3" style="position: relative">
        {{ userHistory[0].firstName }} {{ userHistory[0].lastName }}
        <app-button (click)="logInOutAdmin(userHistory[0])" clazz="button extended-button" background="blue" [title]="local.getString('Toggle')"
                    style="margin-right: 5px; position:absolute; top: 10px; right: 5px;"></app-button>
      </td>
      <td>
        <input [class]="userHistory[0].id + '_date'" style="width: 100%; font-size: 18px; " type="date"
                 (input)="displayHistory($event, userHistory[0])">
      </td>

      <!--td style="font-size: 20px; text-align: end"> Login:</td>
      <td style="width: 100px"><input [class]="userHistory[0].id + '_login'" style="font-size: 15px" type="time"/></td>
      <td rowspan="2" style="text-align: start">
        <app-button (click)="logInOutAdminForParticularDate(userHistory[0])" background="blue" title="Process"
                    style="margin-right: 5px;"></app-button>
      </td-->

      <td *ngIf="i==0" [attr.rowspan]="usersHistory.length * 2" style="white-space: pre-line; vertical-align: top; padding-left: 10px">
        {{
        currentUserHistory
        }}
      </td>
    </tr>

    <!--tr>
      <td style="font-size: 20px; text-align: end" > Logout:</td>
      <td><input [class]="userHistory[0].id + '_logout'" style="font-size: 15px"type="time"/></td>
    </tr-->

  </ng-container>
  </tbody>
</table>


